* {
  padding-left: 35px;
  width: 400px;
}
.div {
  position: absolute;
  width: 125px;
  height: 50px;
  margin: 20px;
  font-weight: 500;
  margin-top: 35px;
  border-radius: 5px;
}

.chiled {
  display: inline-block;
  width: 150px;
  height: 45px;
  margin: 20px;
  border-radius: 5px;
}
.colorValue {
  position: relative;
  top: 49px;
  left: 55px;
  padding-top: 5px;
  color: gray;
}
.value {
  position: relative;
  top: 40px;
  right: 70px;
}

.belowOfColor {
  position: relative;
  top: 60px;
  left: 20px;
  color: gray;
}

.chiledDivs {
  /* display: flex; */
  flex-wrap: nowrap;
  margin-left: 125px;
  display: inline-block;
}
